@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: black;
}
@keyframes slide {
    from{
        transform: translateY(-1000px);
        opacity: 0%;
    }to{
        transform: translateY(0px);
        opacity: 80%;
    }
}

@keyframes zoomOut {
    from{
        transform: scale(0.95);
    }to{
        transform: scale(1);
    }
}

@keyframes zoom {
    0%{
        width: 200px;
        height: 300px;
    }
    100%{
        width: 100%;
        height: 100%;
        transform: translateX(0);
    }
}

@keyframes slide {
    from{
        transform: translateX(calc(var(--index)*220px));
    }
    to{
        transform: translateX(calc(var(--index)*220px - 220px));
    }
}
